<form (ngSubmit)="submit()" [formGroup]="updateForm">
<div class="flex justify-center pt-4">
  <hr>
  <div class="mb-3 xl:w-96">
    <p for="exampleText0" class="form-label inline-block mb-2 text-gray-700"
      >Edit post</p
    >
    <input
      type="text"
      formControlName="title"
      class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      "
      id="exampleText0"
      placeholder="Title"
    />
  </div>
</div>

<div class="flex justify-center">
  <div class="mb-3 xl:w-96">
    <input
      type="text"
      formControlName="content"
      class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      "
      placeholder="Content"


    />
  </div>
</div>

<button class="w-full px-2 px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700">Submit</button>
</form>
