<div class="mb-6 lg:mb-0">
  <div class="relative block bg-white rounded-lg shadow-lg">
    <div class="flex">
      <div
        class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4"
        data-mdb-ripple="true" data-mdb-ripple-color="light">

      </div>
    </div>
    <div class="p-6">

      <p class="mb-0 pb-0">
        {{commentData.comment}}
      </p>
      <p class="text-gray-500 mb-0">
        <small><b>{{'name'}}</b> - {{commentData.dateCreated | date: 'dd/MM/yyyy hh:mm a'}} </small>
      </p>
    </div>
      </div>
</div>




