<div class="mb-6 lg:mb-0">
  <div class="relative block bg-white rounded-lg shadow-lg">
    <div class="flex">
      <div
        class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4"
        data-mdb-ripple="true" data-mdb-ripple-color="light">
        <a href="#!">
          <div
            class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
            style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
    </div>
    <div class="p-6">
      <h5 class="font-bold text-lg mb-3">{{postData.title | uppercase}}</h5>
      <p class="text-gray-500 mb-4">
        <small>Published {{postData.dateCreated | date: 'dd/MM/yyyy hh:mm a'}} by
          <a href="" class="text-gray-900">{{postData.anonName}}</a></small>
      </p>
      <p class="mb-4 pb-2">
        {{postData.content}}
      </p>
    </div>
  </div>
</div>
